.formContainer {
  background-color: #fef7f7;
  padding: 30px;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.header {
  font-size: 24px;
  margin-bottom: 16px;
  color: var(--text-theme-color);
}

.label {
  display: block;
  font-weight: bold;
  color: #333;
}

.inputField,
.textarea,
select {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border-radius: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid var(--border-light-color);
}

.textarea {
  height: 120px;
}

.submitButton {
  background-color: var(--bg-theme-color);
  color: var(--text-white-color);
  border: none;
  padding: 12px 20px;
  width: 100%;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: #7b0f21;
}
