.productContainer {
  display: grid;
  gap: var(--gap-lg);
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: var(--margin-lg);
}

@media (max-width: 768px) {
  .productContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 576px) {
  .productContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}
