.formContainer {
  background-color: var(--bg-section-color);
  padding: var(--padding-xxl);
  border-radius: 10px;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.header {
  color: var(--text-theme-color);
  margin-bottom: 20px;
  font-size: 28px;
}

.label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
}

.inputField,
.textarea,
select {
  width: 100%;
  padding: 12px;
  margin-bottom: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

.textarea {
  height: 120px;
}

.submitButton {
  background-color: #9b1c2e;
  color: white;
  border: none;
  padding: 12px 20px;
  width: 100%;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: #7b0f21;
}
