.container {
  margin: calc(2 * var(--margin-xxl));
  max-width: calc(var(--max-width-container) / 1.4);
}

.productDetail {
  display: grid;
  gap: var(--gap-xxl);
  grid-template-columns: 0.32fr 0.7fr;
}

.productImage {
}

.productImage img {
  object-fit: cover;
}

.productInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}

.productName {
  font-size: 30px;
  font-weight: 700;
  line-height: 1em;
  color: var(--text-theme-color);
}

.rating {
  display: grid;
  font-size: 16px;
  line-height: 1em;
}

.stars {
  color: gold;
  line-height: 1em;
  font-size: var(--font-size-h4);
}

.ratingValue {
  font-weight: 700;
  color: var(--text-dark-color);
}

.priceSection {
}

.price {
  font-size: 24px;
  font-weight: bold;
  color: var(--text-theme-color);
}
.oldPrice::after {
  /* show a cross red line */
  content: "";
  width: 100%;
  height: 3px;
  background-color: #f41615;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  /* rotate the line  */
  transform: rotate(-15deg);
}
.oldPrice {
  position: relative;
  font-size: 18px;
  color: var(--text-light-color);
  margin-left: 10px;
}

.productDescription {
  font-size: 16px;
  color: #666;
}

.actions {
  display: flex;
  flex-direction: column;
}

.quantity {
  display: flex;
  width: fit-content;
  align-items: center;
  border-radius: var(--radius-sm);
  border: 1px solid var(--border-light-color);
}

.decrement,
.increment {
  border: none;
  cursor: pointer;
  font-size: 20px;
  padding: 5px 10px;
}
.decrement {
  border-right: 1px solid var(--border-light-color);
}
.increment {
  border-left: 1px solid var(--border-light-color);
}
.quantity,
.actions {
  margin: 5px 0px;
}

.quantityValue {
  width: 40px;
  margin: 0 5px;
  text-align: center;
}

.buyNow {
  width: fit-content;
  color: var(--text-white-color);
  border-radius: var(--radius-xs);
  background-color: var(--bg-theme-color);
  padding: var(--padding-md) calc(2 * var(--padding-xxl));
}
